@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.profile .head{
    text-align: center;
    font-family: 'Nunito', sans-serif;
    text-decoration: underline;
    padding: 20px;
    font-size: 2.2rem;
}

.profile .form{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    background: #D9C6F4;
    width: 80%;
    padding: 50px;
    border-radius: 20px;
    border: #000 2px solid;
}

.profile .form .image{
    background-color: #F8845B;
    padding: 20px;
    height: 100%;
    border-radius: 20px;
    border: #000 3.5px solid;
    box-shadow: 10px 10px 10px #000;
}

.profile .form .image img{
    width: 300px;
    height: 300px;
    display: block;
    border: 2px solid #000;
    border-radius: 20px;
}

.profile .form .input{
    background-color: #8ED6DE;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 49%;
    height: 100%;
    border: #000 3.5px solid;
    box-shadow: 10px 10px 10px #000;
    border-radius: 20px;
    gap: 5px;
}

.profile .form .input button{
    margin: 0 auto;
    width: 50%;
    height: 50px;
    border-radius: 20px;
    border: #000 2px solid;
    background-color: #F8845B;
    font-size: 1.2rem;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    transition: 0.5s;
}

.profile .form .input button:hover{
    background-color: #F8B05B;
}